<div class="header">
  <h2>Matemática Discreta - Criptografia RSA</h2>
</div>

<div class="container">
  <div class="card">
    <div class="form-header">
      <h1>RSA Key Generator</h1>
    </div>
    <div class="form">
      <div class="actions">
        <mat-form-field appearance="fill">
          <mat-label>Key Size</mat-label>
          <mat-select [(ngModel)]="keySize" [placeholder]="keySize">
            <mat-option *ngFor="let keySize of keySizes" [value]="keySize"
              >{{ keySize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateKey()">
          Generate Key
        </button>
        <button mat-raised-button color="basic" (click)="clearFields()">
          Clear Fields
        </button>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Public Key:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="publicKey"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Private Key:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="privateKey"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="card">
    <div class="form-header">
      <h1>Message Encrypt and Decrypt</h1>
    </div>
    <div class="form">
      <div class="actions message-actions">
        <button
          mat-raised-button
          color="primary"
          (click)="encrypt()"
          [disabled]="!message"
        >
          Encrypt
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="decrypt()"
          [disabled]="!eMessage"
        >
          Decrypt
        </button>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Message:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="message"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Encrypted Message</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="eMessage"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
